*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}

body{
    background-color:#212430 ;
    color:white;
    font-family: 'Poppins', sans-serif;

}

.header{

    display: flex;
    justify-content: space-between;
    padding:25px 10%;
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    margin-bottom: 5rem;
    background-color:#212430;
    align-items: center;
  
    

}

.header>p{
    font-size: 35px;
    font-weight: 600;
    
    animation: slideLeft 1s ease forwards;
    opacity: 0;
}

.rightMenuBar{

    display: flex;
    flex-direction: column;
    padding :2rem;
    gap:35px;
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:40%;
    background-color: #050505;
    z-index:2;


}

.rightMenuBar>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.hide{
    display: none;
}

.menubutton{
    font-size: 20px;
}

.mynav>ul,.button>ul{

    display:flex;
    gap:50px;
    list-style: none;
   

}

.closeButton{
    display: none;
}

ul>li>a,.button>ul>li{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 600;
    animation :navLink 1s ease forwards;
    animation-delay: calc(.2s * var(--i) );
    opacity: 0;
    cursor: pointer;
    position: relative;
}

ul>li>a::after,.button>ul>li::after{
    content:'';
    position: absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:3px;
    background-color: #17ced8;
    transition: .2s;
}


ul>li>a:hover::after{
    width:100%;
}

ul>li>a:hover,.button>ul>li:hover{
   
    color:#17ced8;
    
}

.button>ul>li.active-link::after{
    width:50%;
}

.active{
    color:#17ced8;
}

.heroSection{
    display:flex;
    justify-content: space-between;
  gap:50px;
    padding:25px 10%;
}

.infoSection{

    flex:1;
    
}

.infoSection>h3{
    font-size: 25px;
}
.part1{
    animation: part1 1s ease  forwards;

}
.part2{
   animation: part2 1s ease forwards; 
}
.infoSection>h3>span{
    color:#17ced8;
}

.infoSection>h1{
    margin: 25px 0px;
    font-size: 60px;
    animation: headName 1.5s ease .5s forwards;
    opacity: 0;

}
.infoSection>p{
    margin: 20px 0px;
    font-size: 17px;
    animation: headName 1.5s ease .5s forwards;
    opacity: 0;
}


.icons{
    display: flex;
    gap:15px;
}
.icons>div{
    border:2px solid #17ced8;
    height:40px;
    width:40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: icons 1s ease forwards;
    animation-delay: calc(.1s* var(--i));
    opacity: 0;
     
}

.icons>div>a>i{
    color:#17ced8;
    border: none;
}

.formSection>button,.contactme>a>button{
    height: 40px;
    width:12rem;
    border-radius: 20px;
    background-color: #17ced8;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0px 2px 5px #17ced8 ;
    border: none;
    
}

.formSection>button:hover,.contactme>button:hover{
   
    box-shadow: 0px 2px 15px #17ced8 ;
}
.icons>div:hover{
    box-shadow: 0px 2px 15px #17ced8 ; 
}


/* 
 .imageSection{
    
    flex:1;
    border-radius: 50%;
   

} */

/* .imgDiv{
    width:100%;
    height: 100%;
    
    overflow: hidden;
    padding: 10% 40px;
    display: flex;
    justify-content: center;

}
.imgDiv>img{
    width:50%;
    object-fit: cover;
    animation: image 1.2s ease 1.5s forwards;
    opacity: 0;
    
} */ 

/* .imageSection>img{

    flex:1;
    width:100%;
    height: 100%;
     object-fit: cover;

} */

@keyframes slideLeft {

    0%{transform: translate(-100px);
    opacity: 0;}
    100%{ transform: translate(0px);
        opacity: 1;}
    
}

@keyframes navLink {

    0%{transform: translateY(100px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes part1 {

    0%{transform: translateY(100px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes part2 {

    0%{transform: translateY(100px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes headName {

    0%{transform: translateX(-100px);
        opacity: 0;}
    100%{ transform: translateX(0px);
        opacity: 1;
    }
    
}

@keyframes icons {

    0%{transform: translateY(100px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes image {

    0%{transform: scale(0);
        opacity: 0;}

    100%{transform: scale(1);
        opacity: 1;
    }
    
}


@keyframes button {

    0%{transform: translateY(100px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;
    }
    
}


.aboutMe{
   
    display:flex;
    gap:3rem;
    padding:25px 6%;

    
    padding-top: 6rem;


}
#aboutMeId{
    margin-top: 5rem;
}

#aboutMeId>h2{
    
    padding: 0px 10%;
    font-size:40px ;

}
.AboutMeimageSection{

    flex:1;

}
.AboutMeimgDiv{

    width:80%;
    
    overflow: hidden;
    border-radius: 3%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.AboutMeimgDiv>img{

    width:100%;
    object-fit: cover;
    height: 100%;
    
}
.aboutMeSection{

 flex:1;
 display: flex;
 flex-direction: column;
 gap:30px;
}

.aboutMeSection>h2{

    font-size:40px ;
}
.aboutMeSection>p{
    font-size:18px
}

#aboutMeId{
    padding-top: 7rem;
   
}


.MyServices,.MyWork,.aboutMe{
    padding: 45px 10%;
    margin-bottom: 3rem;
    
}

.MyServices>h2,.MyWork>h2{
    font-size:40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-section,.WorkImageSection{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    margin :2rem 0rem ;
    align-items: center;
    justify-content: center;
}

.mycard,.workImage{

    height:350px;
    width:300px;
    background-color: #5b5a5b;
    padding:15px 25px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.mycard{
    transition: all .5s ;
    border-radius: 10px;
}

.mycard>div>i{
    font-size: 50px;
    margin-bottom: 10px;
}


.mycard>a{
    margin-top: 15px;
    text-decoration: none;
    color: white;
}

.mycard:hover{
    background-color: #17ced8;
    transform: translateY(-10px);
}

.workImage{

    
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
    padding: 0%;

}




.workImage>img{

  height:100%;
  width:100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all .5s;
    display: block;
    
}

.layer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    border-radius: 10px;
    background:linear-gradient(rgb(176, 237, 244),#17ced8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:0px 40px;
    color: rgb(251, 250, 250);
    opacity: .95;
    transition: all .5s;
    font-size: 14px;
}
.layer>h3{
    font-size: 20px;

    margin-top: 45px;
    
}
.layer>a{
    cursor: pointer;
    height: 60px;
    width:60px;
    border-radius: 50%;
    background-color: white;
    color: #17ced8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.workImage>img:hover{
    transform: scale(1.1);
} 

.workImage:hover>.layer{
    height: 100%;
}


.contactSection{

    padding:50px 10%;
    display: flex;
    gap:20px;

    margin: 3rem 0rem;

}
.contactme{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex:.5;
}

.contactme>h2{
 font-size: 30px;
 

}
.mail{
    display: flex;
    gap:10px
}
.mail>div>i{
    color: #17ced8;
}
.mail>p{
    font-size: 13px;
}

.formSection{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:15px;
}


.formSection>input{
    background-color: #5b5a5b;
    border: none;
    width:80%;
    height:30px;
    padding:5px;
    border-radius: 5px;


}
.formSection>textarea{

    background-color: #5b5a5b;
    border: none;
    width:80%;
    height:100px;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.buttonContent{
    display: none;
}

.buttonContent>ul{
    

    display:flex;
    flex-direction: column;
    gap:10px;
    list-style-type: none;
    
}
.buttonContent>ul>li>span{
    color: #17ced8;
    font-size: 14px;
}

.active-content{
    display:block;
}

@media screen and (max-width:767px) {


    .mynav{
    
    padding :2rem;
    gap:35px;
    position:fixed;
    right:-40%;
    top:0;
    height:100%;
    width:40%;
    background-color: #17ced8;
    z-index:2;
    color: white;

    
    }
    .closeButton{
        display: block;
    }
    html{
        scroll-behavior: smooth;
    }

    .mynav>ul{
        display: flex;
        flex-direction: column;
    }

    .menuButtonSection{
       display:block; 
    }

    .aboutMeSection>h2,.MyServices>h2,.MyWork>h2{

        text-align:center;

    }

   

.aboutMe{
    
flex-direction: column;
    
    
}
}